* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    width: 1280px;
    height: 8968px;
    background-color: #000;
}

/*Header*/
.menu-hamburguesa {
    width: 34px;
    height: 26px;
    filter: drop-shadow(4px 5px 0px #02187E);
    position: relative;
    bottom: -20px;
    left: 100px;
}

.linea {
    width: 34px;
    height: 4px;
    border-radius: 111px;
    border: 4px solid #2981FF;
    background: #FFE901;

}

.btn-comprar {
    position: absolute;
    right: 100px;
    top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;

    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}

.div-header {
    position: relative;
    width: 1280px;
    height: 227px;
    background: #4D96F6;
}

/*INICIO LAYERS*/
.div1 {
    width: 1280px;
    height: 720px;
    position: relative;
    bottom: 80px;

}

/*Fondo*/
.layer-1 {
    width: 1280px;
    height: 720px;
    background-image: url("../images/untitled-1-1.png");
    position: relative;
    bottom: 47px;

    /* animation: scroll 20s linear; */
}

/*Edificio Izquierda*/
.layer-2 {
    width: 1280px;
    height: 720px;
    background-image: url("../images/Edificios-difuminados.png");
    /* animation: scroll 18s linear; */
    position: relative;

    bottom: 760px;

}

/*GWEN STACY*/
.layer-3 {
    width: 360px;
    height: 444px;
    background-image: url("../images/image-3.png");
    position: relative;
    left: 97px;
    bottom: 1212px;
}

/*PETER PARKER*/
.layer-4 {
    z-index: 999;
    width: 465px;
    height: 465px;
    background-image: url("../images/image-2.png");
    position: relative;
    left: 400px;
    bottom: 1622px;
}

/*MILES MORALES*/
.layer-5 {
    z-index: 1;
    width: 393px;
    height: 393px;
    background-image: url("../images/image-1.png");
    position: relative;
    left: 695px;
    bottom: 2177px;
}

/*TELARAÑA DE PETER PARKER*/
.layer-6 {
    z-index: 999;
    width: 460px;
    height: 627.274px;
    background-image: url("../images/untitled-5-1.png");
    transform: rotate(65.403deg);
    background-size: contain;
    position: relative;
    right: 38px;
    bottom: 2487px;
}

/*TELARAÑA DE MILES MORALES*/
.layer-7 {
    z-index: 0;
    width: 301.659px;
    height: 372.442px;
    background-image: url("../images/untitled-5-3.png");
    position: relative;
    left: 981px;
    bottom: 3144px;
}

.layer-8 {
    width: 590px;
    height: 301px;
    background-image: url("../images/image-5-1.png");
    position: relative;
    left: 320px;
    bottom: 3810px;
}

/*FIN LAYERS*/

.rectangulo-8 {
    width: 1280px;
    height: 844.5px;
    background-image: url("../images/rectangle-8.png");
    background-size: contain;
    z-index: -4;
}

.div-duende-verde {

    width: 1280px;
    height: 700px;
    position: relative;
    bottom: 185px;
}

.titulo-h2 {
    color: #FFF;
    font-family: 'Lato';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}

.titulo1 {
    position: relative;
    bottom: 606px;
    left: 95px;
    width: 646px;
}

.titulo2 {
    width: 667px;
    position: relative;
    left: 104px;
    top: 500px;
}

.texto {
    position: relative;
    bottom: 582px;
    left: 95px;
    width: 586px;
    height: auto;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.duende-verde {
    z-index: 1;
    position: relative;
    bottom: 970px;
    left: 712px;
    width: 553px;
    height: 921px;
    background-image: url("../images/untitled-3-1.png");
    background-size: contain;
    transform: scaleX(-1);
}

.tarjeta-duende-verde {
    z-index: 0;
    width: 779.649px;
    height: 455.131px;
    position: relative;
    left: 90.28px;
    bottom: 1500px;
    background-image: url("../images/image-16.png");
    background-size: cover;
}

.imagen-y-descripcion-hombres-araña {
    background-image: url("../images/Rectangle-7.png");
    width: 1280px;
    height: 1085px;
    position: relative;
    bottom: 185px;
    z-index: -1;
    padding-top: 150px;
}

.descripcion-hombres-araña {
    display: flex;
    position: relative;
    top: 228px;
    left: 100px;
    width: 1280px;
    height: 1085px;
}

.textos-hombres-arañas {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 536px;
}

.peter-parker-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-13.png");
    background-size: cover;
    position: relative;
    margin-right: 40.56px;
}

.texto-peter-parker {
    margin-right: 40.56px;
}

.miles-morales-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-8.png");
    background-size: cover;
    margin-right: 40.56px;
}

.texto-miles-morales {
    margin-right: 40.56px;
}

.gwen-stacy-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-24.png");
    background-size: cover;
}

.texto-descriptivo {
    width: 333px;
    height: 218px;

    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ghost-spider {
    width: 1280px;
    height: 566px;

    background-image: url("../images/image-223.png");
    position: relative;
    bottom: 400px;
}

.test1 {
    background-image: url("../images/test-HvS.png");
    background-size: cover;
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-13.078deg);
    position: relative;
    left: 80px;
    bottom: 100px;
}


.test2 {
    background-image: url("../images/test.png");
    background-size: cover;
    width: 543.218px;
    height: 325.787px;
    transform: rotate(-26.474deg);
    position: relative;
    left: 75px;
    bottom: 240px;
}

.test3 {
    background-image: url("../images/test-xGr.png");
    background-size: cover;
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-36.016deg);
    position: relative;
    left: 105px;
    bottom: 351px;
}

.div-negro1 {
    width: 1280px;
    height: 1318px;
    position: relative;
    bottom: 732px;
}

.parallex2-1 {
    width: 1076.4px;
    height: 527.626px;
    background-image: url("../images/image-222-2.png");
    background-size: cover;
    position: relative;
    top: 555px;
    left: 101.76px;

}

.parallex2-2 {
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/image-22-7.png");
    background-size: cover;
    position: relative;
    top: 28px;
    left: 101.76px;

}

.parallex2-3 {
    background-image: url("../images/image-22-1.png");
    background-size: cover;
    width: 451.258px;
    height: 591.442px;
    position: relative;
    bottom: 556px;
    left: 185px;
    transform: rotate(-12.483deg);

}

.parallex2-4 {
    background-image: url("../images/untitled-4-2.png");
    background-size: cover;
    width: 451.258px;
    height: 591.442px;
    position: relative;
    bottom: 1335px;
    left: 560px;

}

.parallex2-5 {
    background-image: url("../images/untitled-2-1.png");
    transform: rotate(7.515deg);
    background-size: cover;
    width: 410.106px;
    height: 437.972px;
    position: relative;
    bottom: 1547px;
    left: 800px;

}

.parallex2-6 {
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/image-22-9.png");
    position: relative;
    bottom: 2120px;
    left: 101.76px;
}

/*Amigos*/

@keyframes scrollImages {
    0% {
        background-image: url("../images/image-21.png");
    }

    25% {
        background-image: url("../images/image-9.png");
    }

    50% {
        background-image: url("../images/image-10.png");
    }

    75% {
        background-image: url("../images/image-6.png");
    }
}

.fondo-amigos {
    z-index: -1;
    width: 1280px;
    height: 2194.5px;
    background-image: url("../images/rectangle-9.png");
    position: relative;
    bottom: 1000px;

}

.tituloNegroAmigos {
    color: #000;
    font-family: 'Lato';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
    position: relative;
    bottom: 700px;
    right: -96px;
}

.img-juego-1 {
    width: 552px;
    height: 302.762px;
    background-image: url("../images/image-21.png");
}

.img-juego-2 {
    width: 548px;
    height: 305px;
    background-image: url("../images/image-9.png");
    margin-top: 100px;
}

.img-juego-3 {
    width: 556px;
    height: 301.507px;
    background-image: url("../images/image-10.png");
    margin-top: 121px;
}

.img-juego-4 {
    width: 552px;
    height: 308.253px;
    background-image: url("../images/image-6.png");
    margin-top: 211px;
}

.info-juego {
    width: 467px;
    padding-left: 57px;
}

.titulo-info {
    color: #000;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 37.8px */
}

.texto-info {
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    padding-top: 25px;
    /* 18.9px */
}

.row-images {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 2830px;
    right: -96px;
    animation: scrollImages linear infinite;
}

.info-img{
    margin-top: 150px;
}


/*fin amigos*/
.rectangle-10 {
    width: 1280px;
    height: 719.86px;
    background-image: url("../images/rectangle-10.png");
    background-size: cover;
    position: relative;
    bottom: 1285px;
}

.spider-gwen-stacy {
    background-image: url("../images/image-229.png");
    background-size: cover;
    width: 268px;
    height: 416.5px;
    position: relative;
    left: 190px;
    top: 160px;
}

.spider-peter-parker {
    background-image: url("../images/image-234.png");
    background-size: cover;
    width: 416.5px;
    height: 457.5px;
    position: relative;
    left: 390px;
    bottom: 245px;
}

.spider-miles-morales {
    background-image: url("../images/image-236.png");
    background-size: cover;
    width: 313.5px;
    height: 398.5px;
    position: relative;
    left: 770px;
    bottom: 700px;
}

.titulo3 {
    width: 816px;
    position: relative;
    bottom: 1250px;
    left: 104px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-comprar-ahora {
    position: relative;
    bottom: 1208px;
    left: 104px;
    width: 292px;
    height: 70px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}

.prefooter {
    width: 1280px;
    height: 1296px;
    background: linear-gradient(180deg, #8FBEFC 21.2%, #F7E3D8 81.48%);
    position: relative;
    bottom: 1285px;
}

.seccion1 {
    width: 1280px;
    height: 576px;
}

.seccion2 {
    width: 1280px;
    height: 720px;
    background-image: url("../images/untitled-1-5-ByC.png");
    background-size: cover;

}

.titulo4 {
    width: 816px;
    color: #000;
    text-align: center;
    font-family: 'Lato';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
    position: relative;
    left: 232px;
    top: 152px;
}

.suscribirse {
    display: flex;
    position: relative;
    left: 250px;
    top: 206px;
}

.casilla-suscripcion {
    width: 562px;
    height: 100px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;

    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
}

.btn-suscripcion {
    width: 218px;
    height: 118px;

    border-radius: 0 50px 50px 0;
    border: 9px solid #2982FF;
    background: #FFE901;

    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;

    color: #02187E;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}



.politica-y-condiciones {
    position: relative;
    left: 302px;
    top: 250px;

    width: 578px;
    height: 95px;

    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
}

.subrayado {
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    text-decoration-line: underline;
}

.edad-recomendada {
    width: 231px;
    height: 145px;
    background-image: url("../images/image-224.png");
    background-size: cover;
    position: relative;
    left: 302px;
    top: 260px;
}

.plataformas {
    width: 1280px;
    height: 80px;
    background: #242424;
    background-size: cover;
    position: relative;
    bottom: 1285px;
}

.plataformas2 {
    width: 1080px;
    height: 75px;
    background-image: url("../images/image-226.png");
    background-size: contain;
    position: relative;
    left: 100px;
}

.seccion3 {
    width: 1280px;
    height: 248px;
}

.div-amigos-diversion {
    width: 1280px;
}

footer {
    width: 1280px;
    height: 598px;
    background: #5E5E5D;

    position: relative;
    bottom: 1285px;
}

.derechos-reservados {
    padding-top: 38px;
    margin-left: 100px;
    width: 820px;
    height: 361px;

    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}

.cookies-y-privacidad {
    margin-left: 100px;
}

.politicas {
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    text-decoration-line: underline;
}

#cookie {
    margin-right: 7px;
}

.redes-sociales {
    width: 212px;
    height: 41px;

    margin-top: 38px;
    margin-left: 100px;

    background-image: url("../images/image-238.png");
    background-size: contain;
}

.sprite-miles {
    background-image: url("../images/image-228.png");
    width: 97px;
    height: 91px;
    background-size: cover;
    position: relative;
    top: 560px;
    left: 216px;
}

.sprite-gwen {
    background-image: url("../images/image-239.png");
    width: 58px;
    height: 64px;
    background-size: cover;
    position: relative;
    top: 405px;
    left: 533px;
}

.sprite-peter {
    background-image: url("../images/image-227.png");

    width: 94px;
    height: 91px;
    background-size: cover;

    position: relative;
    left: 1000px;
    top: 235px;

    mix-blend-mode: darken;
}