* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/*Header*/
.menu-hamburguesa {
    width: 34px;
    height: 26px;
    filter: drop-shadow(4px 5px 0px #02187E);
    position: relative;
    bottom: -20px;
    left: 100px;
}

.linea {
    width: 34px;
    height: 4px;
    border-radius: 111px;
    border: 4px solid #2981FF;
    background: #FFE901;

}

.btn-comprar {
    position: absolute;
    right: 100px;
    top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}

.div-header {
    position: relative;
    width: 1280px;
    height: 227px;
    background: #4D96F6;
}

/*INICIO LAYERS*/
.div1 {
    width: 1280px;
    height: 720px;
    position: relative;
    bottom: 80px;

}

/*Fondo*/
.layer-1 {
    width: 1280px;
    height: 720px;
    background-image: url("../images/untitled-1-1.png");
    position: relative;
    bottom: 47px;

    /* animation: scroll 20s linear; */
}

/*Edificio Izquierda*/
.layer-2 {
    width: 1280px;
    height: 720px;
    background-image: url("../images/Edificios-difuminados.png");
    /* animation: scroll 18s linear; */
    position: relative;

    bottom: 760px;

}

/*GWEN STACY*/
.layer-3 {
    width: 360px;
    height: 444px;
    background-image: url("../images/image-3.png");
    position: relative;
    left: 97px;
    bottom: 1212px;
}

/*PETER PARKER*/
.layer-4 {
    z-index: 999;
    width: 465px;
    height: 465px;
    background-image: url("../images/image-2.png");
    position: relative;
    left: 400px;
    bottom: 1622px;
}

/*MILES MORALES*/
.layer-5 {
    z-index: 1;
    width: 393px;
    height: 393px;
    background-image: url("../images/image-1.png");
    position: relative;
    left: 695px;
    bottom: 2177px;
}

/*TELARAÑA DE PETER PARKER*/
.layer-6 {
    z-index: 999;
    width: 460px;
    height: 627.274px;
    background-image: url("../images/untitled-5-1.png");
    transform: rotate(65.403deg);
    background-size: contain;
    position: relative;
    right: 38px;
    bottom: 2487px;
}

/*TELARAÑA DE MILES MORALES*/
.layer-7 {
    z-index: 0;
    width: 301.659px;
    height: 372.442px;
    background-image: url("../images/untitled-5-3.png");
    position: relative;
    left: 981px;
    bottom: 3144px;
}

.layer-8 {
    width: 590px;
    height: 301px;
    background-image: url("../images/image-5-1.png");
    position: relative;
    left: 320px;
    bottom: 3810px;
}

/*FIN LAYERS*/

.rectangulo-8 {
    width: 1280px;
    height: 844.5px;
    background-image: url("../images/rectangle-8.png");
    background-size: contain;
    z-index: -4;
}

.div-duende-verde {

    width: 1280px;
    height: 845px;
    position: relative;
    bottom: 185px;
}

.titulo-h2 {
    color: #FFF;
    font-family: 'Lato';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}

.titulo1 {
    position: relative;
    bottom: 606px;
    left: 95px;
    width: 646px;
}

.titulo2 {
    width: 667px;
    position: relative;
    left: 104px;
    top: 500px;
}

.texto {
    position: relative;
    bottom: 582px;
    left: 95px;
    width: 586px;
    height: auto;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.duende-verde {
    z-index: 1;
    position: relative;
    bottom: 970px;
    left: 712px;
    width: 553px;
    height: 921px;
    background-image: url("../images/untitled-3-1.png");
    background-size: contain;
    transform: scaleX(-1);
}

.tarjeta-duende-verde {
    z-index: 0;
    width: 779.649px;
    height: 455.131px;
    position: relative;
    left: 90.28px;
    bottom: 1500px;
    background-image: url("../images/image-16.png");
    background-size: cover;
}

.imagen-y-descripcion-hombres-araña {
    width: 1280px;
    height: 942px;
    position: relative;
    bottom: 185px;
}

.descripcion-hombres-araña {
    display: flex;
    position: relative;
    top: 228px;
    left: 100px;
    width: 1280px;
    height: 1085px;
}

.textos-hombres-arañas {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 536px;
}

.peter-parker-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-13.png");
    background-size: cover;
    position: relative;
    margin-right: 40.56px;
}

.texto-peter-parker {
    margin-right: 40.56px;
}

.miles-morales-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-8.png");
    background-size: cover;
    margin-right: 40.56px;
}

.texto-miles-morales {
    margin-right: 40.56px;
}

.gwen-stacy-descripcion {
    width: 332.96px;
    height: 302.691px;
    background-image: url("../images/image-24.png");
    background-size: cover;
}

.texto-descriptivo {
    width: 333px;
    height: 218px;

    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ghost-spider {
    width: 1280px;
    height: 566px;

    background-image: url("../images/image-223.png");
    position: relative;
    bottom: 237px;
}

.test1 {
    background-image: url("../images/test-HvS.png");
    background-size: cover;
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-13.078deg);
    position: relative;
    left: 80px;
    bottom: 100px;
}

.test2 {
    background-image: url("../images/test.png");
    background-size: cover;
    width: 543.218px;
    height: 325.787px;
    transform: rotate(-26.474deg);
    position: relative;
    left: 75px;
    bottom: 240px;
}

.test3 {
    background-image: url("../images/test-xGr.png");
    background-size: cover;
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-36.016deg);
    position: relative;
    left: 105px;
    bottom: 351px;
}

.div-negro1 {
    z-index: -10;
    background-color: #000;
    width: 1280px;
    height: 1318px;
    position: relative;
    bottom: 569px;
}

.parallex2-1 {
    width: 1076.4px;
    height: 527.626px;
    background-image: url("../images/image-222-2.png");
    background-size: cover;
    position: relative;
    top: 555px;
    left: 101.76px;
}

.parallex2-2 {
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/image-22-7.png");
    background-size: cover;
    position: relative;
    top: 28px;
    left: 101.76px;
}

.parallex2-3 {
    background-image: url("../images/image-22-1.png");
    background-size: cover;
    width: 451.258px;
    height: 591.442px;
    position: relative;
    bottom: 556px;
    left: 185px;
    transform: rotate(-12.483deg);
}

.parallex2-4 {
    background-image: url("../images/untitled-4-2.png");
    background-size: cover;
    width: 451.258px;
    height: 591.442px;
    position: relative;
    bottom: 1335px;
    left: 560px;

}

.parallex2-5 {
    background-image: url("../images/untitled-2-2.png");
    background-size: cover;
    width: 410.106px;
    height: 437.972px;
    position: relative;
    bottom: 1560px;
    left: 805px;
}

.parallex2-6 {
    width: 1077.059px;
    height: 527.626px;
    background-image: url("../images/image-22-9.png");
    position: relative;
    bottom: 2120px;
    left: 101.76px;
}

.tituloNegro {
    color: #000;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}

.fondo-amigos {
    width: 1280px;
    height: 2194.5px;
    background-image: url("../images/rectangle-9.png");
}