* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --color-blanco: #F0EDED;
    --color-negro: #020202;
    --Acento: #4A1D8D;
    --fourth-color: #131419;
    --fifth-color: #003049;
    --fondo: #1B2838;
}

body {
    background-color: var(--fondo);
}

/*Cosas del header*/
header {
    height: 70px;
    width: 100%;
    background-color: #04050C;
    display: flex;
}

@media (min-width:1024px) {



    .menu-hamburguesa {
        margin: 15px;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

    .icono {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 9px;
        position: absolute;
        left: 50px;
        width: 70px;
        height: 51px;
        flex-shrink: 0;
    }

    #lupa {
        margin: 15px 0 15px 819.5px;
        width: 40px;
        height: 40px;
        z-index: 999;
    }

    #barra-busqueda {
        /* Arriba | Derecha | Abajo | Izquierda 
    margin: 10px 470px 10px 470px;*/
        margin: 10px 0px 10px 117.5px;
        position: absolute;
        left: 25%;
        width: 500px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 90px;
        opacity: 0.5;
        background: var(--Gris-claro, #D9D9D9);
    }

    #barra-busqueda::placeholder {
        position: absolute;
        top: 20%;
        padding-left: 21px;
        color: var(--Color-primario, #0C0D14);
        font-family: RobotoRegular;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.7;
    }

    #perfil {
        width: 40px;
        margin: 15px 10px 15px 0px;
    }

    #notificaciones {
        height: 24px;
        width: 24px;
        margin: 23px 10px 15px 0px;
    }

    #carrito {
        height: 40px;
        width: 40px;
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 15px 10px 15px 260px;
    }

    /*Fin cosas del header*/

    /*Inicio de cosas del FOOTER*/

    footer {
        margin-top: 50px;
    }

    .metodos-pago {

        height: 60px;
        padding-top: 10px;
        background-color: var(--fourth-color);
        display: flex;
        justify-content: space-evenly;
    }

    .categorias {
        background-color: #04050C;
        display: flex;
        justify-content: space-evenly;
    }

    .titulo-categoria {
        color: var(--color-blanco);

        margin-top: 36px;
        font-family: RobotoRegular;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .titulo-subcategoria {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #ultimo-subtitulo {
        margin-bottom: 69px;
    }

    li>a {
        color: var(--color-blanco);
        text-align: center;
        font-family: RobotoRegular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-align: start;
    }

    .icono-pago {
        width: 50px;
        height: 50px;
    }

    .icono-pago-ext {
        width: 80px;
        height: 50px;
    }

    .footer-final {
        height: 60px;
        background-color: var(--fourth-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #copyright {
        margin-left: 13px;
    }

    /*Fin de cosas del FOOTER*/

    /*Cards*/
    /*
.contenedorImagen {
    position:relative;
    height: 115px;
}


.hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}

.badge-gratis {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 55px;
    height: 28px;
    border-radius: 0px 0px 15px 0px;
    background-color: #85b200;
    display:flex;
    justify-content: center;
    align-items: center;
}
.badge-pago {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 75px;
    height: 28px;
    border-radius: 0px 0px 15px 0px;
    background: var(--Colo-secundario, #F5AA00);
    display:flex;
    justify-content: center;
    align-items: center;
}
.triangulo-gratis {
    position: absolute;
    top: 24px;
    left: -6px;
    width: 0px;
    height: 0px;
    border-top: 7px solid #415701;
    border-left: 6px solid transparent;
    
}
.triangulo-pago {
    position: absolute;
    top: 24px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 7px solid #976900;
    border-left: 6px solid transparent;
    
}

.textoBadge {
    
    color: var(--color-negro);
    font-family: RobotoMedium;
}
.imgJuego {
    width: 160px;
    height: 90px;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
}

.tituloJuego {
    height: 45px;
    display:flex;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    align-items: center;

}

.card {
    margin-left: 20px;
    width: 160px;
height: 118px;
border-radius: 10px;
background: #131419;
margin-top: 10px;
margin-bottom: 50px;
border: 234px #4A1D8D;
}

.card:hover {
    border: 1px solid var(--Acento, #4A1D8D);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
}
.gratis:hover .badge{
    
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}
.pago:hover .badge-pago {
    border: 1px solid var(--Acento, #4A1D8D);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}
.pago:hover .badge {
    
    border: 1px solid var(--Acento, #4A1D8D);
opacity: 0.2;
}

div > p {
    color: var(--color-blanco);
    font-family: RobotoRegular;
}
h2 {
    color: var(--color-blanco);
    font-family: RobotoBlack;
}

.titulo-juego{
    color: var(--color-blanco);
    font-family: 'RobotoRegular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 31px;
}
/*Fin de las Cards*/
    .breadcrumbs {
        font-family: 'RobotoRegular';
        color: var(--color-blanco);
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-decoration-line: underline;
        margin-top: 22px;
        margin-bottom: 33px;
    }

    .contenedor-informacion {
        display: flex;
    }

    .publicidad {
        border-radius: 10px;
        margin-bottom: 30px;
        margin-left: 27.5%;
    }

    .publicidad-aside {
        display: flex;
        justify-content: center;
    }

    .publicidad-larga {
        display: flex;
        justify-content: center;
        background-color: #F2CF03;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .contenedor-secundario-juego {
        display: flex;
        justify-content: center;
        background-color: #363840;
        border-radius: 20px;
    }

    .contenedor-primario-juego {
        width: 90%;
        margin-left: 5%;
    }

    .imagen-juego-principal {
        width: 1100px;
        height: 900px;
    }

    .btn-compartir {
        width: 158px;
        height: 36px;
        border-radius: 30px;
        border: 1px solid var(--Negro, #020202);
        font-family: 'RobotoBlack';
        font-size: 20px;
        background: var(--Acento-Lineal, linear-gradient(90deg, #762EE1 0%, #270657 100%));
        color: var(--color-blanco);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #img-compartir {
        padding-bottom: 15px;
    }

    .corrimiento-derecha {
        margin-left: 85px;
    }

    .texto {
        width: 940px;
        color: var(--color-blanco);
        margin-top: 20px;

        /* Body */
        font-family: 'RobotoRegular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .video {
        border-radius: 20px;
        margin-top: 20px;
        width: 800px;
        height: 426px;
    }

    .link-video {
        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 16px;
        margin-top: 6px;
    }

    .imagenes-muestra {
        display: flex;
        width: 380px;
        height: 348px;
        margin-top: 10px;
        border-radius: 20px;
    }

    .img-muestra {
        border-radius: 20px;
    }

    .img-muestra-2 {
        margin-left: 13px;
    }

    .titulo-info-exc {
        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        margin-bottom: 31px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 16px;
        padding-top: 25px;
    }

    .titulo-info {
        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .linea {
        width: 940px;
        height: 1px;
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid var(--color-blanco);
        opacity: 0.1;
    }

    .info {
        display: flex;
        justify-content: start;
    }

    /*------------------------------INICIO COMENTAR---------------------------------------------------*/
    .cantidad-comentarios {
        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--color-blanco);
        width: 1165px;
    }

    .comentario-por-hacer {
        margin-top: 60px;
        display: grid;
        width: auto;
        grid-template-columns: 50px auto;
        grid-template-rows: 80px;
    }

    .foto-perfil-comentario {
        width: 50px;
        height: 50px;
    }

    .contenedor-hacer-comentario {
        margin-left: 15px;
        width: 1100px;
        background: var(--color-blanco);
        opacity: 0.7;
        border-radius: 20px;
    }

    .contenedor-hacer-comentario::placeholder {
        color: var(--color-negro);
        font-family: 'RobotoRegular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
    }

    .contenedor-btn-comentar {
        display: flex;
        width: 1165px;
        justify-content: flex-end;
        border-bottom: 1px solid var(--color-blanco);
    }

    .btn-comentar {
        width: 158px;
        height: 60px;
        flex-shrink: 0;

        border-radius: 30px;
        background: var(--color-negro);

        width: 158px;
        margin-top: 43px;
        margin-bottom: 19px;
        margin-right: 85px;
        justify-content: flex-end;
        color: var(--color-blanco);
        text-align: center;
        font-family: 'RobotoRegular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*------------------------------FIN COMENTAR---------------------------------------------------*/

    /*------------------------------INICIO COMENTARIOS---------------------------------------------------*/

    .contenedor-comentarios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-comentario {
        width: 1165px;
        height: auto;
        flex-shrink: 0;

        border-bottom: 1px solid var(--color-blanco);
    }

    .comentario-usuario {
        display: flex;
    }

    .nombre-y-tiempo {
        margin-left: 15px;
        margin-top: 14px;
    }

    .nombre-usuario-comentario {
        width: auto;
        height: auto;
        flex-shrink: 0;

        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .tiempo-comentario {
        width: auto;
        height: auto;
        flex-shrink: 0;

        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.7;
    }

    .imagen-perfil-comentario {
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }

    .comentario {
        width: 1100px;
        height: auto;
        flex-shrink: 0;

        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .distancia-comentario {
        margin-left: 65px;
    }

    .reacciones {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .puntuacion-comentario {
        margin-right: 5px;
    }

    .cantidad-puntuacion {
        margin-right: 15px;
    }

    .btn-responder {
        width: 77px;
        height: 17px;
        flex-shrink: 0;

        color: var(--color-blanco);
        font-family: 'RobotoRegular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*-------------------------------FIN COMENTARIOS--------------------------------------------------*/
}

/*Fin desktop*/

/*Mobile*/

/*Cards*/




.hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}

.badge-gratis {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 45px;
    height: 24px;
    border-radius: 0px 0px 15px 0px;
    background-color: #85b200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo-gratis {
    position: absolute;
    top: 20px;
    left: -6px;
    width: 0px;
    height: 0px;
    border-top: 7px solid #415701;
    border-left: 6px solid transparent;

}

.badge-pago {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 60px;
    height: 24px;
    border-radius: 0px 0px 15px 0px;
    background: var(--Colo-secundario, #F5AA00);
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo-pago {
    position: absolute;
    top: 20px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 7px solid #976900;
    border-left: 6px solid transparent;

}

.textoBadge {

    color: var(--color-negro);
    font-family: RobotoMedium;
}

.imgJuego {
    width: 160px;
    height: 90px;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
}

.contenedorImagen {
    position: relative;
    height: 90px;
}

.tituloJuego {
    height: 28px;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    justify-content: center;
    align-items: center;

}

.card {
    margin-left: 10px;
    width: 160px;
    height: 118px;
    border-radius: 10px;
    background: #131419;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 234px #4A1D8D;
}

.card:hover {
    border: 1px solid var(--Acento, #4A1D8D);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.gratis:hover .badge {

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}

.pago:hover .badge-pago {
    border: 1px solid var(--Acento, #4A1D8D);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.2;
}

.pago:hover .badge {

    border: 1px solid var(--Acento, #4A1D8D);
    opacity: 0.2;
}

div>p {
    color: var(--color-blanco);
    font-family: RobotoRegular;
    font-size: 12px;
}

h2 {
    color: var(--color-blanco);
    font-family: RobotoBlack;
}

.titulo-juego {
    color: var(--color-blanco);
    font-family: 'RobotoRegular';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 31px;
}





/*Fin Cards*/

/*Carrusel*/
.contenedor-carrusel {

    display: flex;
    flex-direction: row;

}






/*Fin Carrusel*/


@font-face {
    font-family: RobotoRegular;
    src: url(../Fuentes/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../Fuentes/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../Fuentes/Roboto-Medium.ttf);
}